html { 
  /*background: url(brunetto-ziosi-JGp4wwYqM78-unsplash.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  height: 100%;
}

.navArea {
  grid-area: nav;
}

.buttonSideArea {
  grid-area: buttonSide;
}

.infoSideArea {
  grid-area: infoSide;
}

.titleArea {
  grid-area: titleInst;
}

.skillPointArea {
  grid-area: skillPool;
}

.buttonStartArea {
  grid-area: buttonStartA;
}

body{
  margin: auto 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "titleInst titleInst"
  "nav skillPool"
  "buttonSide infoSide"
  "buttonStartA buttonStartA";
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
  justify-items: center;

  background-color: black;
  color: #A8CECE;
/*  overflow: auto;*/
}

/*.titleDiv{
  display: grid;
  flex-wrap: wrap;
  height: 50%;
  align-items: start;
  justify-content: center;
}*/

.gameInfoDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

nav{
  display: grid;
  height: 130px;
  width: 700px;
  align-items: center;
  justify-content: center;
}

.smallSize{
  height: 250px;
  width: 500px;
}

.bigSize{
  height: 500px;
  width: 500px;
}

.titles{
  font-family: "Press Start 2P";
  align-items: start;
  justify-content: center;
}

/*INFORMATION PAGE STYLES - NEEDS TO BE EDITED*/

/*.textinfo{
  background-color: rgba(225, 225, 225, 0.3);
  font-family: "Cinzel";
  border-radius: 30px;
}
.pstyle{
  text-align: center;
  font-size: 25px;
  margin: 10px 0px 10px 0px;
}

.roletitle{
  display: grid;
  align-items: start;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  margin: 10px 0px 10px 0px;
}*/

/* END OF INFORMATION PAGE STYLES*/

.buttons{
  background-color: transparent;
  border: solid #A8CECE;
  outline: none;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  font-size: 20px;
  height: 65px;
  width: 200px;
  margin: 5px 5px 5px 5px;
  font-family: "Press Start 2P";

  color: #A8CECE;
}

.buttons:hover{
  transform: scale(1.05);
}

.selectbtn{
  background-color: transparent;
  border: solid #A8CECE;
  outline: none;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  font-size: 20px;
  height: 45px;
  width: 150px;
  margin: 10px 0px 0px 0px;
  font-family: "Cinzel";
  font-weight: bold;

  color: #A8CECE;
}

.selectbtn:hover{
  transform: scale(1.05);
}

.statsFormClass{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  align-items: center;
}

.statsPointPoolC{
  padding: 0px 0px 0px 32px;
}

.statsFormSectionC{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
}

.statsplacing{
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
}

.statsTextSideC{
  display: grid;
}

.statsBoxesSideC{
  display: grid;
  width: 10px;
}

input{
  width: 50px;
  height: 20px;
  text-align: center;
  background-color: transparent;
  color: #A8CECE;
  border: none;
  font-size: 15px;
  font-family: "Press Start 2P";
}

input.chaName{
  width: 250px;
  height: 50px;
}

input.points{
  width: 30px;
  height: 20px;
}

label{
  width: auto;
  height: auto;
  font-family: "Press Start 2P";
  text-align: left;
  padding: 5px 0px 5px 0px;
}

select,option{
  width: 200px;
  height: 20px;
  text-align: center;
  background-color: transparent;
  color: #A8CECE;
  border: none;
  font-family: "Press Start 2P";
}

.cardInfo{
  display: grid;
  width: 200px;
  height: 25px;
  padding: 2px 0px;
  justify-content: start;
  align-items: center;
}

.selectionOptions{
  display: grid;
  grid-template-columns: 166px 166px 166px;
  grid-template-rows: 200px 200px;
  align-items: center;
}

#yourName{
  display: grid;
  justify-content: start;
}

.characterDiv{
  display: grid;
  grid-template-columns: 150px auto;
  gap: 10px;
  padding: 10px;
/*  border: solid red 3px;*/
  height: 150px;
  width: 570px;
}

.charInfoDiv {
  display: grid;
  height: 160px;
  width: 410px;
  justify-content: start;
  align-content: center;
}

.allGameScreen {
  display: grid;
  height: 750px;
  width: 750px;
}

#screenArea{
  display: grid;
  height: 500px;
  width: 750px;
  justify-content: center;
  margin: 0px 0px 3px 0px;
  position: relative;
  z-index: 1;
}

#gameTextArea{
  display: grid;
  height: 200px;
  width: 750px;
  justify-content: center;
  border: solid 1px #A8CECE;
  border-radius: 10px;
  margin: 0px 0px 3px 0px;
  overflow: auto;
  position: relative;
  z-index: 2;
  font-size:20px;
}

#gameScreenBTN{
  display: grid;
  height: 50px;
  width: 750px;
  justify-content: center;
  align-items: center;
}

.noMargin{
  margin: 0px 0px 10px 0px;
}

.nextbtns{
  height: 45px;
  width: 100px;
  padding: 0px;
  margin: 0px;
}

.adventureBPage{
  margin: 0px;
}

.backGP{
  position: relative;
}

.charP{
  position: absolute;
  top:400px;
  left:50px;
}

.charP1{
  position: absolute;
  top:410px;
  left:330px;
}

.charP2{
  position: absolute;
  top:355px;
  right: 205px;
}
.charP3{
  position: absolute;
  top:400px;
  right: 80px;
}

.charP4{
  position: absolute;
  top:310px;
  left:200px;
}

.imgLooks{
  padding: 0px;
  margin: 0px;
  border: none;
  background-color: transparent;
  width: 155px;
  height: 156px;
}

.yesMargin{
  margin: 10px 10px;
}

.txtcolour{
  color: #42C96B;
}

.flexy{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.chosen{
  border: inset #2EE798;
}

.gridS{
  display: grid;
}

.invis{
  display: none;
}