/*====GRID TEMPLATE AREAS NAMES====*/

.musicArea {
  grid-area: musicPlayer;
  background-color: rgba(113, 142, 164, 1.0);
  border-radius: 1.5rem;
  justify-self: start;
  align-items: center;
/*  width: 23.5rem;*/
}

.titleArea {
  grid-area: titleInst;
/*  background-color: grey;
  border: solid white;*/
}

.navArea {
  grid-area: nav;
/*  background-color: grey;
  border: solid white;*/
}

.skillPointArea {
  grid-area: skillPool;
/*  background-color: grey;
  border: solid white;*/
}

.buttonSideArea {
  grid-area: buttonSide;
/*  background-color: grey;
  border: solid white;*/
  align-self: start;
}

.infoSideArea {
  grid-area: infoSide;
/*  background-color: grey;
  border: solid white;*/
  align-self: start;
}

.buttonStartArea {
  grid-area: buttonStartA;
/*  background-color: grey;
  border: solid white;*/
}

/*====BODY====*/

body{
  margin: auto 0;
  min-height: 100vh;
  display: grid;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 0.3fr 0.3fr 0.3fr 3fr;
  grid-template-areas:
  "musicPlayer musicPlayer"
  "titleInst titleInst"
  "buttonStartA buttonStartA"
  "nav skillPool"
  "buttonSide infoSide";
  text-align: center;
  align-items: center;
  justify-items: center;
  background-color: black;
  color: #A8CECE;
}

/*====ELEMENTS====*/

p{
  max-width: 75ch;
  text-align: left;
  margin: 0rem 0rem 1rem 1rem;
}

.pMargin{
  margin: 0rem 3.75rem 1rem 3.75rem;
}

.center{
  text-align: center;
}

header{
  display: flex;
  justify-items: start;
  align-items: start;
  gap: 0.3rem;
  margin: 1rem 0rem 0rem 1.5rem;
}

nav{
  display: grid;
  align-items: center;
  justify-content: center;
}

input{
  width: 3.125rem;
  text-align: center;
  background-color: transparent;
  color: #A8CECE;
  border: none;
  font-size: 1rem;
  font-family: "Press Start 2P";
}

input#vol{
  width: 8rem;
}

input.chaName{
  width: auto;
}

label{
  font-family: "Press Start 2P";
  text-align: left;
  padding: 0.3125rem 0rem;
}

select,option{
  width: 200px;
  height: 20px;
  text-align: center;
  background-color: transparent;
  color: #A8CECE;
  border: none;
  font-family: "Press Start 2P";
}

ul{
  padding-left: 1rem;
}

/*====BUTTONS====*/

.buttons{
  background-color: transparent;
  border: solid #A8CECE;
  outline: none;
  border-radius: 0.625rem;
  overflow: auto;
  cursor: pointer;
  font-size: 1.005rem;
  height: 4.0625rem;
  width: 12.5rem;
  padding: 0.1875rem;
  margin: 0.3125rem;
  font-family: "Press Start 2P";
  color: #A8CECE;
}

.buttons:hover{
  transform: scale(1.05);
}

.btnGaps{
  row-gap: 4rem;
  column-gap: 2rem;
}

.selectbtn{
  background-color: transparent;
  border: solid #A8CECE;
  outline: none;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  font-size: 1em;
  height: 3em;
  width: 7em;
  margin: 0.625rem 0rem 0rem 0rem;
  font-family: "Press Start 2P";
  color: #A8CECE;
}

.selectbtn:hover{
  transform: scale(1.05);
}

.skillSelectbtn{
  height: 4rem;
  width: 9.25rem;
}

.pChoice{
  height: 5.5rem;
  width: 14.6rem;
  font-size: 1rem;
}

.musicbtn{
  background-color: transparent;
  padding: 0rem;
  border: none;
}

.musicbtn:hover{
  transform: scale(1.10);
}

/*====DIVS====*/
.gameInfoDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.gameBtnDiv{
  display: grid;
  align-content: center;
  grid-template-columns: 1fr 1fr;
}

#charInfoArea{
  text-align: left;
}

/*====STATS====*/

.statsFormClass{
  align-items: center;
  padding: 2rem;
  row-gap: 1rem;
}

.statsplacing{
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
}

.statsGap{
  row-gap: 0.5rem;
}

.statH2{
  font-size: 1.5rem;
  font-family: "Press Start 2P";
  font-weight: normal;
  margin: 0.3125rem 0rem;
}

.outOfPoints{
  font-size: 1rem;
  font-family: "Press Start 2P";
  font-weight: normal;
  margin: 1rem 0rem 0rem 0rem;
  color: #D46A6A;
}

/*====CHARACTER CUSTOMIZATION====*/

.selectionOptions{
  display: grid;
  grid-template-columns: repeat(3, 10.375rem);
  grid-template-rows: repeat(2, 12.5rem);
  align-items: center;
}

.imgLooks{
  padding: 0rem;
  border: none;
  background-color: transparent;
  height: 9.75rem;
}

/*====PLAYER CARD INFO====*/

#allPartyCards{
  align-self: center;
}

.characterDiv{
  display: grid;
  grid-template-columns: 9.375rem auto;
  gap: 0.625rem;
  padding: 0.625rem;
  width: 35.625rem;
}

.cardInfo{
  display: grid;
  height: 1.57rem;
  width: 7.5rem;
  padding: 2px 0px;
}

.contentWidth{
  width: 18.75rem;
}

.charInfoDiv {
  display: grid;
  grid-template-columns: 7.25rem 18.75rem;
  justify-content: start;
  align-content: center;
}

.cardSkillBtns{
  display: flex;
  column-gap: 0.5rem;
}

/*====GAME SCREEN====*/

#screenArea{
  display: grid;
  position: relative;
  z-index: 1;
}

#gameTextArea{
  height: 12.5rem;
  width: 46.875rem;
  border: solid 0.0625rem #A8CECE;
  border-radius: 0.625rem;
  margin: 0rem 0rem 0.3125rem 0rem;
  overflow: auto;
  position: relative;
  z-index: 2;
  font-size:1.3rem;
}

.flexy{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.optionBtnMargin{
  margin: 0.625rem;
}

.adventureBPage{
  margin: 0rem;
}

/*====CHARACTER POSITIONSS====*/

.backGP{
  position: relative;
}

.charP{
  display: grid;
  position: absolute;
  top:382px;
  left:420px;
}

.charP:hover{
  transform: scale(1.05);
}

.charP1{
  display: grid;
  position: absolute;
  top:392px;
  left:650px;
}

.charP1:hover{
  transform: scale(1.05);
}

.charP2{
  display: grid;
  position: absolute;
  top:337px;
  left: 150px;
}

.charP2:hover{
  transform: scale(1.05);
}

.charP3{
  display: grid;
  position: absolute;
  top:390px;
  left: 60px;
}

.charP3:hover{
  transform: scale(1.05);
}

.charP4{
  display: grid;
  position: absolute;
  top:292px;
  left:535px;
}

.charP4:hover{
  transform: scale(1.05);
}

.spriteHP{
  display: grid;
  margin: 0rem;
  width: 3.125rem;
  justify-content: center;
  justify-self: center;
  font-weight: bold;
  font-size: 1.2rem;
}

/*====LAYOUTS, MARKING, AND TEXT COLOURS====*/

.txtcolour{
  color: #42C96B;
}

.chosen{
  border: inset #2EE798;
}

.gridS{
  display: grid;
}

.invis{
  display: none;
}

/*====MEDIA QUERIES====*/

/*@media only screen and (orientation:portrait){
  body {  
    height: 100vw;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@media only screen and (orientation:landscape){
  body {  
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
  }
}*/
